In [7]:
# Import the dependencies.
import pandas as pd

In [8]:
# File to Load (Remember to change these)
average_rain_state_to_load = "Resources/avg_rain_state.csv"

# Read the City and Ride Data
average_rain_state_df = pd.read_csv(average_rain_state_to_load)
average_rain_state_df.head()

        State  Inches  Milli­metres  Rank
0     Alabama    58.3          1480     4
1      Alaska    22.5           572    39
2     Arizona    13.6           345    47
3    Arkansas    50.6          1284     8
4  California    22.2           563    40

In [16]:
average_rain_state_df=pd.DataFrame([[1, 2], [3, 4]], columns = ["a", "b"]) 
average_rain_state_df_mean = average_rain_state_df["b"].mean()
print(average_rain_state_df_mean)

3.0